<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932548818266-pme0srj5qjccunl6d173svqi6l7kiq13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932548818266-pme0srj5qjccunl6d173svqi6l7kiq13</string>
	<key>API_KEY</key>
	<string>AIzaSyDYW0ToSB3KCW1GMDzMQbOTPCZn851yCdA</string>
	<key>GCM_SENDER_ID</key>
	<string>932548818266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neo.vu</string>
	<key>PROJECT_ID</key>
	<string>neovu-1bbe7</string>
	<key>STORAGE_BUCKET</key>
	<string>neovu-1bbe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932548818266:ios:fcfa146b5a26f0f2</string>
	<key>DATABASE_URL</key>
	<string>https://neovu-1bbe7.firebaseio.com</string>
</dict>
</plist>